{% load user_filters %}

{% if user.is_authenticated %}
<h3>Коментарии:</h3>
<div class="card my-4">
<form
        method="post"
        action="{% url 'add_comment' post.author.username post.id %}">
        {% csrf_token %}
        <h5 class="card-header">Добавить комментарий:</h5>
        <div class="card-body">
        <form>
                <div class="form-group">
                {{ form.text|addclass:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        </div>
</form>
</div>
{% endif %}

<!-- Комментарии -->
{% if items %}
{% for item in items %}
<div class="card mb-3 mt-1 shadow-sm">

        <!-- Отображение текста коментария -->
        <div class="card-body">
                <h5 class="mt-0">
                <a
                        href="{% url 'profile' item.author.username %}"
                        name="comment_{{ item.id }}"
                        >{{ item.author.username }}</a>
                </h5>
                <p class="card-text">
                        {{ item.text }}
                </p>

                <!-- Дата публикации коментария -->
                <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group ">
                        </div>
                        <small class="text-muted">{{ item.created }}</small>
                </div>
        </div>
</div>
{% endfor %}
{% endif %}
