{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }} | Yatube{% endblock %}
{% block content %}

    <h1>{{ group.title }}</h1>
    <p>{{ group.description }}</p>

    <div class="card mb-3 mt-1 shadow-sm" style="margin-left:80px;">
    <div class="card-body" style="margin-left:40px;">
    {% for post in page %}
        {% include "post_item.html" with post=post %}
    {% endfor %}
    </div>
    </div>

    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator%}
    {% endif %}

{% endblock %}